body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x: hidden;
  padding-block: 3rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  min-height: 100vh; */
}
